@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --bg: #ffffff;
    --text: #111;
    --card: #ffffff;
    --muted: #6b7280
}

.dark {
    --bg: #0b1220;
    --text: #e6eef8;
    --card: #071028;
    --muted: #9aa7b8
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica, Arial;
    margin: 0
}

pre {
    background: transparent
}

/* simple container styling */
.container {
    padding-bottom: 48px
}

/* responsive */
@media (max-width:800px) {
    .grid {
        grid-template-columns: 1fr
    }
}